<template name="notFound">
	<header class="main-header">
        <!-- Logo -->
        <a href="{{pathFor 'home'}}" class="logo"><b>Group</b>Insurance</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
        </nav>
    </header>
  <div class="template-not-found">
    <div class="container text-center">
      <h1>Oops ... </h1>
      <p>
        That page doesn't exist! It could be still under construction
      </p>
    </div>
  </div>
</template>
